html{
    scroll-behavior: smooth;
}

body{
    background: rgb(70, 14, 45);
    background: radial-gradient(circle, rgba(230, 86, 166, 1) 4%, rgba(58, 8, 62, 1) 55%, rgba(50, 7, 54, 1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin-left:70px;
    margin-right:70px;
}

#menuCompleto{
    width:100%;
}

#menuNavbar{
    width:100%;
    display:flex;
    place-content: end;
}

#menuNavbar li{
    display:flex;
    place-items: center;
}

#menuNavbar li a{
    font-size: 14px;
    color:white;
    transition:0.3s;
}

#menuNavbar li a:hover,
#menuNavbar li a.active
{   
    font-size:12px;
    color:rgb(116, 0, 106);
}

.items-redes-sociales
{
    display:flex;
    place-items:center;
    flex-wrap:wrap;
    list-style: none;
}

#nombre-sm{
    display:flex;
    place-content: center;
}

.nav-link
{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.red-social
{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.red-social:hover{
    box-shadow: 0 20px 20px 0 #9c077c,0 20px 20px 0 #9c077c;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

.btn-idioma{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding:5px;
    margin:5px;
    background-color: #9c077c;
    color:white;
    width:145px;
}

/*seccion presentacion*/
.seccion-presentacion
{
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:10%;
}

.texto-seccion-sobre-mi
{
    text-align: center;
    margin-right:0%;
    color:white;
}

.text-sm{
    font-style: italic;
    font-family: Arial, sans-serif;
    background-color: #00000028;
    margin:5px;
}

.imagen
{
    text-align :center;
    display: inline-block;
    margin-left:0%;
}

.boton-email
{
    background:black;
    border-radius: 6px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.boton-email:hover{
    border-radius:10%;
    box-shadow: 0 15px 15px 0 #000000,0 15px 15px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

.boton-cv
{
    background-color: black;
    border-radius:6px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.boton-cv:hover{
    border-radius: 10%;
    box-shadow: 0 15px 15px 0 #000000,0 15px 15px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

#link-cv
{
  color:white;
  font-size: 25px;
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
}

#link-email
{
    color:rgb(255, 255, 255); 
    font-size: 20px;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*seccion sobre mi*/
#seccionSobreMi
{
    background-size: cover;    
    color:white;
}

.titulo-sm
{
    color:white;
    text-align: center;
    margin-top:15%;
    padding-top: 10%;
}

.texto-sobre-mi{
    text-align: center;
}



/*seccion educacion*/
.seccion-educacion
{
    background-size:cover;
}

.educacion-completa
{
  margin:25%;
  padding-bottom: 10%;
}

#titulo-educacion
{
    color:white;
    text-align: center;
    margin-top:15%;
    padding-top:10%;
}

.box
{
    color:white;
    margin-bottom: 10px;
    position: relative;
}

.box::before{
    content: '';
    position:absolute;
    width:10px;
    height:100%;
    background: rgb(155, 172, 0);
    left:-20px;
    top:10px;
}

.box::after{
    content: '';
    width: 25px;
    height:25px;
    border-radius: 50%;
    position: absolute;
    margin:auto;
    background: rgb(155, 172, 0);
    left:-28px;
    top:5px;
}

/*seccion experiencia laboral*/
.titulo-exp-laboral
{
    color:white;
    display: grid;
    place-content: center;
    margin-top:15%;
    padding-top:10%;
}

.texto-exp-laboral
{
    color:white;
    text-align: center;
}

/*seccion habilidades*/

.titulo-habilidades
{
    margin-top:15%;
    padding-top:10%;
}

.seccion-habilidades
{
    background-size: cover;
    color:white;
    text-align:center;
    margin-top: 10%;
}

.habilidades-lenguajes
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.habilidad
{
    margin:2%;
    padding:1%;
    background-color: #000000cc;
    border-radius: 5%;
}

/*seccion proyectos*/
.titulo-proyectos
{
    text-align: center;
    color:white;
    margin-top:15%;
    padding-top:8%;
}

.seccion-proyectos
{
    background-size:cover;
}

.proyectos-general
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card
{
    margin:5%;
}

.card-title
{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.texto-cartas
{
    font-size: 20px;
    font-weight: 500;
    z-index: 100;
}

#imagen-proyecto{
    padding:10%;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

#imagen-proyecto:hover{
    padding:0%;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

/*seccion contacto*/
#seccionContacto
{
    margin-top:10%;
    color:white;
    margin-bottom:10%;
}

/*boton para ir al inicio*/
.go-top-container{
    position:fixed;
    bottom: 0rem;
    right: 0rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go-top-buttom{
    width: 0rem;
    height: 0rem;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.go-top-buttom i{
    position: absolute;
    font-size: 2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: rgb(14, 0, 0);
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-buttom{
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%,-50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }

    50%{
        width: 0rem;
        height: 8rem;
    }

    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}

footer{
    color: white;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    
    .header {
        padding: 0.5em;
    }
}
@keyframes show{
    from
    {
        opacity: 0;
        scale: 25%;
    }
    to
    {
        opacity:1;
        scale:100%;
    }
}

@keyframes show2{
    from
    {
        opacity: 1;
        scale: 80%;
    }
    to
    {
        opacity:1;
        scale:100%;
    }
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
  }
  
  .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }