html{
    scroll-behavior: smooth;
}

body{
    background: rgb(70, 14, 45);
    background: radial-gradient(circle, rgba(230,86,166,1) 4%, rgba(58,8,62,1) 55%, rgba(50,7,54,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

#menuCompleto{
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width:100%;
}

#menuNavbar li a{
    font-size: 20px;
    color:white;
    font-weight: 400;
    transition:0.3s;
}

#menuNavbar li a:hover,
#menuNavbar li a.active
{   
    font-size:18px;
    color:rgb(116, 0, 106);
}
.items-redes-sociales
{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    list-style: none;
}

.nav-link
{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.red-social
{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.red-social:hover{
    box-shadow: 0 20px 20px 0 #9c077c,0 20px 20px 0 #9c077c;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}


/*seccion presentacion*/
.seccion-presentacion
{
    background-image: url("./resource_backgrounds/background_1.png");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:5%;
}

.texto-seccion-sobre-mi
{
    color:white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right:0%;
    font-family: Arial, sans-serif;
}


.imagen
{
    text-align :center;
    display: inline-block;
    margin-left:0%;
}

.boton-email
{
    background:black;
    border-radius: 10%;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.boton-email:hover{
    border-radius:10%;
    box-shadow: 0 15px 15px 0 #000000,0 15px 15px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

.boton-cv
{
    background-color: black;
    border-radius:10%;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.boton-cv:hover{
    border-radius: 10%;
    box-shadow: 0 15px 15px 0 #000000,0 15px 15px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

#link-cv
{
  color:white;
  font-size: 25px;
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
}

#link-email
{
    color:rgb(255, 255, 255); 
    font-size: 20px;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*seccion sobre mi*/
#seccionSobreMi
{
    background:url("./resource_backgrounds/background_2.png");
    background-size: cover;    
    color:white;
    
}

.titulo-sm
{
    color:white;
    text-align: center;
    margin-top:15%;
    padding-top: 10%;
}

.texto-sobre-mi{
    text-align: center;
}



/*seccion educacion*/
.seccion-educacion
{
    background-image: url("./resource_backgrounds/background_3.png");
    background-size:cover;
}

.educacion-completa
{
  margin:25%;
  padding-bottom: 10%;
}

#titulo-educacion
{
    color:white;
    text-align: center;
    margin-top:15%;
    padding-top:10%;
}

.box
{
    color:white;
    margin-bottom: 10px;
    position: relative;
}

.box::before{
    content: '';
    position:absolute;
    width:5px;
    height:100%;
    background: rgb(124, 121, 121);
    left:-15px;
    top:10px;
}

.box::after{
    content: '';
    position:absolute;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    margin:auto;
    background: rgb(124, 121, 121);
    left:-23px;
    top:5px;
}

/*seccion experiencia laboral*/
.titulo-exp-laboral
{
    color:white;
    display: grid;
    place-content: center;
    margin-top:15%;
    padding-top:10%;
}

.texto-exp-laboral
{
    color:white;
    text-align: center;
}

/*seccion habilidades*/

.titulo-habilidades
{
    margin-top:15%;
    padding-top:10%;
}

.seccion-habilidades
{
    background-size: cover;
    color:white;
    text-align:center;
    margin-top: 10%;
}

.habilidades-lenguajes
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.habilidad
{
    margin:2%;
    padding:1%;
    background-color: #000000cc;
    border-radius: 5%;
}

/*seccion proyectos*/
.titulo-proyectos
{
    text-align: center;
    color:white;
    margin-top:15%;
    padding-top:8%;
}

.seccion-proyectos
{
    background-image: url("./resource_backgrounds/background_4.png");
    background-size:cover;
}

.proyectos-general
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card
{
    margin:5%;
}

.card-title
{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.texto-cartas
{
    font-size: 20px;
    font-weight: 500;
    z-index: 100;
}

.btn-primary
{
  background-color: black;
  font-size: 20px;
  font-weight: 200;
}
/*seccion contacto*/
#seccionContacto
{
    margin-top:10%;
    color:white;
    margin-bottom:10%;
}


footer{
    color: white;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    
    .header {
        padding: 0.5em;
    }
}
@keyframes show{
    from
    {
        opacity: 0;
        scale: 25%;
    }
    to
    {
        opacity:1;
        scale:100%;
    }
}

@keyframes show2{
    from
    {
        opacity: 1;
        scale: 80%;
    }
    to
    {
        opacity:1;
        scale:100%;
    }
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
  }
  
  .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }